<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>006- 私人通讯录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>899DD1351F3E9EE300B15028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899DD1491F3E9EE300B15028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899DD1541F3E9EE300B15028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
